<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ping.server.dao.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.dili.ping.server.domain.Device">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="port" jdbcType="INTEGER" property="port" />
    <result column="running_state" jdbcType="BIT" property="runningState" />
    <result column="launch_time" jdbcType="TIMESTAMP" property="launchTime" />
    <result column="cost" jdbcType="BIGINT" property="cost" />
    <result column="recover_time" jdbcType="TIMESTAMP" property="recoverTime" />
    <result column="disconnect_time" jdbcType="TIMESTAMP" property="disconnectTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="disconnect_times" jdbcType="INTEGER" property="disconnectTimes" />
    <result column="is_location" jdbcType="INTEGER" property="isLocation" />
    <result column="mask_code" jdbcType="VARCHAR" property="maskCode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, parent_id, name, host, port, running_state, launch_time, cost, recover_time, 
    disconnect_time, type, yn, icon, disconnect_times, is_location, mask_code
  </sql>
  <select id="selectChildren" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <include refid="Base_Column_List" />
    from device FIND_IN_SET(id,getDeviceChildren(#{id}))
  </select>
  <update id="updateBy" parameterType="com.dili.ping.server.domain.Device">
    <!--
      WARNING - @mbg.generated
    -->
    update device
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=INTEGER},
      </if>
      <if test="runningState != null">
        running_state = #{runningState,jdbcType=BIT},
      </if>
      <if test="launchTime != null">
        launch_time = #{launchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=BIGINT},
      </if>
      <if test="recoverTime != null">
        recover_time = #{recoverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disconnectTime != null">
        disconnect_time = #{disconnectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="yn != null">
        yn = #{yn,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="disconnectTimes != null">
        disconnect_times = #{disconnectTimes,jdbcType=INTEGER},
      </if>
      <if test="isLocation != null">
        is_location = #{isLocation,jdbcType=INTEGER},
      </if>
      <if test="maskCode != null">
        mask_code = #{maskCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>