<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:<br/>
    类名:<br/>
    表名:%<br/>
    列信息:<br/>
    获取指定id列JDBC类型:BIGINT<br/>
    所有列:
    id,
    code,
    name,
    remark,
    created,
    modified,
    yn,
</body>
</html>


package ${basePackage}.service;

import ${basePackage}.service.${table.tableName}Service;

public class ${table.tableName}ServiceImpl implements ${table.tableName}Service{

}

