<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:device<br/>
    类名:Device<br/>
    表名:device<br/>
    列信息:<br/>
    获取指定id列名:BIGINT<br/>
    所有列:
    id,
    parent_id,
    name,
    host,
    port,
    running_state,
    launch_time,
    cost,
    recover_time,
    disconnect_time,
    type,
    yn,
    icon,
    disconnect_times,
    is_location,
    mask_code,
</body>
</html>